checkpoints/*
!checkpoints/.gitkeep
input_data/*
!input_data/.gitkeep
output_data/*
!output_data/.gitkeep
visualisation/bin/*
!visualisation/bin/.gitkeep
visualisation/available_data.json
notes.md
.DS_Store
