body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 3px;
}

h1 {
    font-size: 24px;
    color: #005f99;
    text-align: center;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#map-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
}

#attention-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
}

#map-container svg {
    width: 49%; 
    height: auto;
    aspect-ratio: 2 / 1; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#attention-container svg {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
}

select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

select:hover, select:focus {
    border-color: #005f99;
    outline: none;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    #map-container, #attention-container {
        width: 100%;
        height: auto;
    }

    #map-container svg {
        width: 100%;     }
}
